<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>URL Shortener</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>URL Shortener</h1>
            <input type="text" id="urlInput" placeholder="Enter your URL" />
            <button id="shortenBtn">Shorten</button>
            <p id="result"></p>
            <div class="link">
                <a href="/dashboard/">Go to Dashboard</a>
            </div>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>
